.banner_image{
	padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
   background: url(../images/intro-bg_1.jpg) no-repeat center center;
   background-size: cover;
}
.banner_content{
	position: relative;
   padding-top: 6%;
  padding-bottom: 6%;
   margin-top: 12%;
   margin-bottom: 12%;
   background-color: #ffffff;
   max-width: 660px;
}
footer{
	 padding: 5px 0;
   background-color:  #212f3c;
   color:#fdfefe;
   bottom: 0;
   width: 100%;
}

.row_style{
  margin-top:12%;
}

